<div class="container">
  <div class="layout-example">

<table mat-table >
    <tr>
        <th>Super Admin</th>
        <th>Admin</th>
        <th>Owner</th>
        <th>Others</th>
    </tr>
    <tr>
        <td><a routerLink="/home">Manage Admins</a></td>
        <td><a routerLink="/home">Manage Admins</a></td>
        <td><a routerLink="/home">View Property</a></td>
        <td><a routerLink="/home">Find Property</a></td>
    </tr>
    <tr>
        <td><a routerLink="/home">Manage Cities</a></td>
        <td><a routerLink="/home">Transfer Property </a></td>
        <td></td>
        <td></td>
    </tr>
  </table>

  </div>
</div>
