<!-- <p>manage-property works!</p> -->



<div class="container">
  <div class="layout-example">
      <h4>Property List</h4>  Filter By
      <mat-form-field>
          <mat-label>Filter</mat-label>
          <mat-select>
            <mat-option>opt1</mat-option>
            <mat-option>opt2</mat-option>
            <mat-option>opt3</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-list>
            <mat-list-item> Pepper <a href="/">view details</a></mat-list-item>
            <mat-list-item> Salt <a href="/">view details</a></mat-list-item>
            <mat-list-item> Paprika <a href="/">view details</a></mat-list-item>
        </mat-list>

        <button mat-raised-button>Add New Property</button>
  </div>
</div>
